body {
    background-image: url("../img/halftone.png");
}

.logo {
    font-family: 'Inconsolata', monospace;
}

.logo a {
    color: rgba(0,0,0,.9);
}

.logo a:hover, .logo a:active {
    text-decoration: none;
}

